<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserLabel" >
            Validación de número telefónico</h4>
    </div>
    <div class="modal-body">
    	<p>Se le ha enviado un código a su número de teléfono <strong>{{vm.phoneNumber}}</strong>, por favor ingreselo a continuación para completar la registración.</p>
        <div class="form-group">
            <label class="control-label" >Código de validación</label>
            <input type="text" class="form-control" name="validationKey" required ng-model="vm.validationKey" >
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span >Validar</span>
        </button>
    </div>
</form>
